{% extends "::base.html.twig" %}
{% block body %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Skill&Improvement</h1>
   					{% for entity in entities %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ entity.topic }}</div>
                        <div class="panel-body">
                        	<b>Detail:</b>&nbsp; {{ entity.detail }}
                        	<BR><b><a href="{{ path('teacher_count', { 'id': entity.id }) }}">Click for like this topic: </a></b>There are {{ entity.popular }} people like this.
                        </div>
                        <div class="panel-heading">
                            <a href="{{ entity.url }}"></i>More Detail:{{ entity.url }}</a>
                        </div> 
                    </div>
                    {% endfor %}       						
                    <div class="alert alert-success alert-dismissable">

                    </div>
                </div>
            </div>
        </div>
{% endblock %}
