{% extends '::base.html.twig' %}

{% block body -%}
    <h1>scholarship</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Schoname</th>
                <td>{{ entity.schoName }}</td>
            </tr>
            <tr>
                <th>Schodetail</th>
                <td>{{ entity.schoDetail }}</td>
            </tr>
            <tr>
                <th>Closingdate</th>
                <td>{{ entity.closingDate }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ entity.state }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ entity.contact }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>Popular</th>
                <td>{{ entity.popular }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('scholarship') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('scholarship_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
